<a href="https://colab.research.google.com/github/faizan1402/sentiment_analysis_movie_review/blob/main/Sentiment_Analysis_Movie_Review_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
    import numpy as np
    import pandas as pd
    from google.colab import drive
    drive.mount('/content/drive')
    df = '/content/drive/MyDrive/UPDATED_NLP_COURSE/UPDATED_NLP_COURSE/TextFiles/moviereviews.tsv'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#Drive  mounted

In [ ]:
df = pd.read_csv(df,sep='\t')

In [ ]:
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [ ]:
df.dropna(inplace=True)

In [ ]:
blanks = []
for index,label,review in df.itertuples():
    # (index,label,review)
    if type(review)==str:
      if review.isspace():

        blanks.append(index)

In [ ]:
blanks

[57,
 71,
 147,
 151,
 283,
 307,
 313,
 323,
 343,
 351,
 427,
 501,
 633,
 675,
 815,
 851,
 977,
 1079,
 1299,
 1455,
 1493,
 1525,
 1531,
 1763,
 1851,
 1905,
 1993]

In [ ]:
df.drop(blanks,inplace=True)

In [ ]:
df['label'].value_counts()

neg    969
pos    969
Name: label, dtype: int64

#**Import SentimentIntensityAnalyzer and create an sid object**

In [ ]:
#This assumes that the VADER lexicon has been downloaded.
import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [ ]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [ ]:

sid = SentimentIntensityAnalyzer()

In [ ]:
df['scores'] = df['review'].apply(lambda review: sid.polarity_scores(review))

df['compound']  = df['scores'].apply(lambda score_dict: score_dict['compound'])

#df['compound']  = df['scores'].apply(lambda d:d['compound'])
df.head()
# compound is negative value

  label  ... compound_score
0   neg  ...            neg
1   neg  ...            neg
2   pos  ...            pos
3   pos  ...            pos
4   neg  ...            neg

[5 rows x 6 columns]

In [ ]:
df['scores'] = df['review'].apply(lambda review: sid.polarity_scores(review))

df['compound']  = df['scores'].apply(lambda score_dict: score_dict['compound'])
#df['compound']  = df['scores'].apply(lambda d:d['compound'])
# compound class changes
 
df['compound_score'] = df['compound'].apply(lambda score: 'pos' if score >=0  else 'neg' )


df.head()

  label  ... compound_score
0   neg  ...            neg
1   neg  ...            neg
2   pos  ...            pos
3   pos  ...            pos
4   neg  ...            neg

[5 rows x 6 columns]

#**Perform a comparison analysis between the original label and comp_score (accuracy find)**

In [ ]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [ ]:
accuracy_score(df['label'],df['comp_score'])

0.6367389060887513

In [ ]:
print(classification_report(df['label'],df['comp_score']))

              precision    recall  f1-score   support

         neg       0.72      0.44      0.55       969
         pos       0.60      0.83      0.70       969

    accuracy                           0.64      1938
   macro avg       0.66      0.64      0.62      1938
weighted avg       0.66      0.64      0.62      1938

In [ ]:
print(confusion_matrix(df['label'],df['comp_score']))

[[427 542]
 [162 807]]

In [ ]:
'''So, it looks like VADER couldn't judge the movie reviews very accurately. This demonstrates one of the biggest challenges in sentiment analysis
- understanding human semantics. Many of the reviews had positive things to say about a movie, reserving final judgement to the last sentence.'''